<!DOCTYPE html>
<html>
<head>
  <title>Q-Clinic</title>
</head>
<body>
  <h1>Q-Clinic</h1>
  <p>Smart Clinic Queue Booking System</p>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, msg in messages %}
          <li><b>{{ category }}:</b> {{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <a href="/register">Register</a> |
  <a href="/login">Login</a> |
  <a href="/dashboard">Dashboard</a>
</body>
</html>
